body {
	margin: 0px;
	overflow: hidden;
	font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	color:white;
	background-color:rgb(0,0,0);
	position: fixed;
	top:0;
	bottom: 0;
	left:0;
	right:0;
}
html {
	height: 100vh;
}
li {
	margin-bottom:10px;
}
img {
user-drag: none; 
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}
.topBar {
	position: absolute;
	height: 60px;
	width:100%;
	background-color: black;
	z-index:3;
	opacity: 0.5;
}
.barBlock {
	left:50%;
	transform: translateX(-50%);
}
.barItem {
	z-index: 5;
	height:60px;
	width:60px;
	background-color:orange;
	display:inline-block;
}
.fullScreenOverlay {
	position: fixed;
	top:0;
	bottom: 0;
	width:100%;
	background-color:rgba(0,0,0,0.95);
	z-index:4;
	overflow-y: auto;
	font-size:1.5em;
	display: none;
}

.exitOverlay {
	position: absolute;
	font-size:30px;
	top:40px;
	right:40px;
	color:white;
	user-select: none;
	cursor: pointer;
}
.workPeriod {
	width:calc(50% - 10px);
	display:inline-block;
	text-align: right;
	margin-bottom:30px;

}
.overlayTitle {
	width: calc(100% - 80px);
	margin-top: 10px;
	margin-left:50px;
	margin-right:50px;
	font-size:1.4em;
	text-align: center;
}
.overlayText {
	margin-top: 40px;
}
.overlayBlock {
	position: absolute;
	left:40px;
	width:calc(100% - 80px);
	text-align: justify-all;
}
.caretText {
	position: absolute;
	bottom: calc(0% + 55px);
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}
.caretDown {
	position: absolute;
	bottom: calc(0% + 20px);
	left: 50%;
	transform: scale(2,0.5) translateX(-25%);
	font-size:30px;
    user-select: none;
    cursor: pointer;
    animation: caretDownAnimation 1s linear infinite;
}
.caretLeft {
	position: absolute;
	left: calc(0% + 20px);
	top: 50%;
	transform: scale(0.5,2) translateY(-25%);
	font-size:30px;
    user-select: none;
    cursor: pointer;
    animation: caretLeftAnimation 1s linear infinite;
}
.caretRight {
	position: absolute;
	right: calc(0% + 20px);
	top: 50%;
	transform: scale(0.5,2) translateY(-25%);
	font-size:30px;
    user-select: none;
    cursor: pointer;
    animation: caretRightAnimation 1s linear infinite;
}
.caretUp {
	position: absolute;
	top: calc(0% + 20px);
	left: 50%;
	transform: scale(2,0.5) translateX(-25%);
	font-size:30px;
    user-select: none;
    cursor: pointer;
    animation: caretUpAnimation 1s linear infinite;
}
@keyframes caretLeftAnimation {
  0 {
    left: calc(0% + 20px);
  }
  50% {
    left: calc(0% + 10px);
  }
  100% {
    left: calc(0% + 20px);
  }
}
@keyframes caretRightAnimation {
  0 {
    right: calc(0% + 20px);
  }
  50% {
    right: calc(0% + 10px);
  }
  100% {
    right: calc(0% + 20px);
  }
}
@keyframes caretDownAnimation {
  0% {
    bottom: calc(0% + 20px);
  }
  50% {
    bottom: calc(0% + 10px);
  }
  100% {
    bottom: calc(0% + 20px);
  }
}
@keyframes caretUpAnimation {
  0% {
    top: calc(0% + 20px);
  }
  50% {
    top: calc(0% + 10px);
  }
  100% {
    top: calc(0% + 20px);
  }
}
.content {
	position: absolute;
	width:100%;
}
.moveDown {
    animation-name: example;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
/* Safari 4.0 - 8.0 */
@keyframes example {
    0%   {left:0px; top:0px;}
    100% {left:0px; top:-100%;}
}
.blockContainer {
	overflow: hidden;
	position: relative;
	height:100vh;
	width:100%;
}
.vehicleInfoText {
	position: absolute;
	top:60px; 
}
.titleContainer {
	position: absolute;
	top: 50%;
	left:50%;
	transform: translateY(-50%) translateX(-50%);
	text-align: center;
	width:100%;
}

.title {
	font-size: 48px;
	letter-spacing: 5px;

}
.titleTablet {
	font-size:36px;
}
.titleMobile {
	font-size:24px;
}

.titleDescription {
	font-size:36px;
	letter-spacing: 5px;
}
.titleDescriptionTablet {
	font-size:24px;
}

.titleDescriptionMobile {
	font-size:18px;
}


.description {
	font-size:24px;
	text-align: justify-all;
	margin: 0px 40px;
}
.descriptionTablet {
	font-size:18px;
}
.descriptionMobile {
	font-size:18px;
}


.aboutBlock {
	padding: 40px 20px 40px 20px;
}
.aboutTitle {
	width:100px;
	display: inline-block;
	vertical-align: top;
}
.aboutText {
	text-align: justify-all;
	width:calc(100% - 100px);
	display: inline-block;
}
.block {
	background: fixed;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

#aboutImage {
	background-image:url('bg.jpg');

}
#gameImage {
	background-image:url('game.jpg');
}
#carImage {
	background-image:url('car.jpg');
}
#contactImage {
	background-image:url('contact.jpg');
}
#vehicleImage {
	background-image:url('vehicle.jpg');
}
#workImage {
	background-image:url('work.jpg');
}
#sapLogo {
	background-image:url('SAP_logo.png');
}
#ttcLogo {
	background-image:url('TTC_logo.jpg');
}
#eitLogo {
	background-image:url('EIT_Logo.jpg');
}
#communitechLogo {
	background-image:url('Communitech_Logo.jpg');
}
#haaLogo {
	background-image:url('HAA_Logo.png');
}
.logo {
	height: calc(20% - 5px);
	margin-bottom: 5px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
	max-width:320px;
	width:100%;
	display:inline-block;
}
.logoText {
	display:inline-block;
	height:20%;
	vertical-align: top;
	width:calc(100% - 320px);
	line-height: 20vh;
	text-align: center;
}
.logoMobile{
	max-width:initial;
}
.overlay {
	position: absolute;
	height: 20vh;
	width:100%;
	display:inline-block;
	background-color:rgba(0,0,0,0.5);
	cursor: pointer;
}
.overlay:hover {
	background-color:rgba(0,0,0,0);

}
.button {
	letter-spacing: 5px;
	width:140px;
	height:50px;
	line-height:50px;
	border: 2px solid white;
	color:white;
	text-decoration: none;
	display: block;
	margin: 20px auto;
	cursor: pointer;
    user-select: none;
}
.button:hover {
	background-color: white;
	color:black;
}
.alert {
	position: fixed;
	display: none;
	width:100%;
	height: 40px;
	background-color:rgba(200,0,0,0.5);
	z-index: 2;
	line-height: 40px;
	text-align: center;
}
.top {
	top: 10px;
	transform:  translateX(-50%);
}