body {
	margin: 0px;
	overflow-x: hidden;
	font-family: "Lato", sans-serif;
	background-color: black;
	color:white;
	min-height: 100vh;
}
html {
	height: 100vh;
}
h1 {
	font-size: 36px;
	margin: 0px;
	font-weight: normal;
	letter-spacing: 15px;
	position: absolute;
	top:calc(50% - 24px);
  	color: white;
   	background: fixed url(car.jpg) no-repeat;
	background-size: cover;
	background-position: center;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   width:100%;
   text-align: center;
   /* The text-spacing makes weird stuff happen so need to add padding*/
   padding-left: 7.5px;
}
.h1Mobile {
	font-size:28px;
	letter-spacing: 2px;
  	padding-left: 1px;
  	top:calc(50% - 36px);
}
.h1Tablet {
	top: calc(50% - 24px);
}
.titleDescription {
	font-size:24px;
}
.titleDescriptionMobile {
	font-size:18px;
}
h3 {
	font-size: 32px;
	display:inline-block;
	font-weight: normal;
	display: block;
}
h4 {
	font-size: 24px;
	margin: 0px;
	font-weight: normal;
	text-align: center;
	letter-spacing: 5px;
	margin-bottom:20px;

}
p {
	margin: 0px 30px;
	color:grey;
}
ul {
	margin: 0;
}


.initialBackground {
	height: 100vh;
}

.background {
	background: fixed;
	background-size: cover;
	background-position: center;

}
.blockImage {
	height: 100vh;
}

.titleBlock {
	z-index: 1;
	position: absolute;
	height:60vh;
	width:60%;
	left:20%;
	top:20%;
	background-color:black;
}

.content {
}

.block {
	text-align: justify-all;
	padding: 60px 0px;
	vertical-align: top;
	width: 50%;
	margin:0 auto;
	display: inline-block;
	margin-right: 0 -2px;
}
