body {
	margin: 0px;
	overflow-x: hidden;
	font-family: "Lato", sans-serif;
	background-color: black;
	color:white;
	min-height: 100vh;
}
html {
	height: 100vh;
}

.background {
	background: fixed;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.titleBlock {
	z-index: 1;
	position: absolute;
	height:60vh;
	width:100%;
	top:20%;
	background-color:black;
}
#mainPage {
	left:0;
}
#workExperience {
	left:100%;
	display: none;
}


.title {
	font-size: 48px;
	margin: 0px;
	font-weight: normal;
	letter-spacing: 15px;
	position: absolute;
	color: white;
	background: fixed url(car.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	width:100%;
	text-align: center;
	/* The text-spacing makes weird stuff happen so need to add padding*/
	top:calc(50% - 36px);
}
.titleTablet {
	font-size:36px;
	letter-spacing: 2px;
	padding-left: 1px;
	top:calc(50% - 24px);
}
.titleMobile {
	font-size:24px;
	letter-spacing: 2px;
	padding-left: 1px;
	top:calc(50% - 12px);
}



.titleDescription {
	font-size:36px;
	letter-spacing: 15px;
	padding-left: 15px;

}
.titleDescriptionTablet {
	font-size:34px;
}

.titleDescriptionMobile {
	font-size:18px;
}



.button {
	display:none;
	margin: 0px;
	line-height:36px;
	font-weight: normal;
	letter-spacing: 5px;
	position: absolute;
	color: white;
	background: fixed url(car.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	width:100%;
	text-align: center;
	/* The text-spacing makes weird stuff happen so need to add padding*/
	border: 1px solid transparent;
	cursor: pointer;
	font-size: 26px;
	top:calc(50% + 36px);
}
.buttonTablet {
	font-size: 22px;
}
.buttonMobile {
	font-size: 18px;
	letter-spacing: 1px;
}