body {
	margin: 0px;
	overflow-x: hidden;
	font-family: "Lato", sans-serif;
	background-color: white;
	color:black;
}
h1 {
	font-size: 48px;
	margin: 0px;
	font-weight: normal;
	text-align: center;
	letter-spacing: 15px;
	margin-bottom:20px;

}
h2 {
	font-size: 36px;
	margin: 0px;
	font-weight: normal;
	text-align: center;
	letter-spacing: 5px;
	margin-bottom:20px;
	
}
h3 {
	font-size: 32px;
	display:inline-block;
	font-weight: normal;
	display: block;
}
h4 {
	font-size: 24px;
	margin: 0px;
	font-weight: normal;
	text-align: center;
	letter-spacing: 5px;
	margin-bottom:20px;

}
p {
	margin: 0px 30px;
	color:grey;
}
ul {
	margin: 0;
}
.h1Mobile {
	font-size:48px;
}
.h2Mobile {
	font-size:24px;
}
.initialBackground {
	height: 100vh;

}

.background {
	background: fixed;
	background-size: cover;
	background-position: center;

}
.blockImage {
	height: 100vh;
}

.titleBlock {
	width: 100%;
	text-align: center;
	padding-bottom: 30px;
	z-index: 1;
}

.content {
}

.button {
	width: 150px;
	height: 50px;
	position: absolute;
	text-align: center;
	line-height:50px;
	border: 2px solid white;
	color:white;
	background-color:black;
	top: -54px;
	right: 50px;
}

.block {
	text-align: justify-all;
	padding: 60px 0px;
	max-width:900px;
	vertical-align: top;
	margin:0 auto;
}