body {
	margin: 0px;
	font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	color:white;
	background-color: #111;
	min-height: 100vh;
}
html {
	height: 100vh;
}

.vehicleImageContainer {
	overflow:hidden;
	position: relative;
	height: 25vw;
	width:100%;
}
#vehicleImage {
	position: absolute;
	bottom: 0;
	width:100%;
	top:0;
}
.plusIcon {
	width:40px;
	position: absolute;
	opacity: 0.5;
	cursor:pointer;
}
.plusIcon:hover {
	opacity: 1;
}
.detailImage {
	height:200px; 
	width:200px;
	margin:25px;
}
.detailImageMobile {
	margin: 25 auto;
	display: block;
}
.detailText {
	position: absolute;
	top:50%;
	left:calc(250px + 10vw);
	right:10vw;
	transform: translateY(-50%);
	display: inline-block;
}
.detailTextMobile {
	position: relative;
	left:0;
	margin:0 25 25 25;
	transform: none;
}
.detailBlock {
	display: none;
}

#detailView {
	position: relative;
	min-height: 250px;
}
.defaultDetailView {
	text-align: center;
}

#wheel {
	bottom: calc(14vw - 20px);
	left:calc(31vw - 20px);
}
#engine {
	bottom: calc(20vw - 20px);
	left:calc(75vw - 20px);
}

#spoiler {
	bottom: calc(21vw - 20px);
	left:calc(90vw - 20px);
}
